certbot>=5.1.0
acme>=5.1.0
cryptography>=46.0.0
requests>=2.32.0
python-dateutil>=2.9.0
josepy>=2.2.0
pytz>=2025.2
pyyaml>=6.0.3
ConfigArgParse>=1.7.1
parsedatetime>=2.6
pyOpenSSL>=25.3.0
pyRFC3339>=2.1.0
requests-toolbelt>=1.0.0
zope.component>=7.0
zope.event>=6.0
zope.hookable>=8.0
zope.interface>=8.0.0
